<Nav::SlideBar>
    <div class="container-fluid bg-night" style="height: 1024px;">
        <div style="height: 2rem;"></div>
        <div class="container bg-form mt-4" style="max-width: 800px">
            <div class="py-4">
                <h2 data-blast="color">Nạp tiền</h2>
            </div>

            <form>
                <div class="form-group row px-3">
                    <div style="align-self: center; width: 30%">
                        <label class="mb-0 text-light" for="inputEmail3">Số tài khoản</label>
                    </div>
                    <div style="width: 70%">
                        <Input type="email" class="form-control" @value={{@model.bankCardNumber}} readonly />
                    </div>
                </div>
                <div class="form-group row px-3">
                    <div style="align-self: center; width: 30%">
                        <label class="mb-0 text-light" for="inputPassword3">Số dư khả dụng</label>
                    </div>
                    <div style="width: 70%">
                        <span class="text-light">{{currency @model.balance}}</span>
                    </div>
                </div>
                <hr class="font-weight-bold border-light my-4" />
                <p class="text-light">Hỗ trợ nạp tiền từ <span style="font-weight: bold;">Paypal, Stripe</span>
                </p>
                <div class="form-group row px-3">
                    <div style="align-self: center; width: 30%">
                        <label class="mb-0 text-light" for="inputEmail3">Ví</label>
                    </div>
                    <div style="width: 30%">
                        <select class="form-control" {{on "change" this.updateValue}}>
                            {{#each this.payments as |item|}}
                            <option selected={{item.value}}>{{item.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group row px-3">
                    <div style="align-self: center; width: 30%">
                        <label class="mb-0 text-light" for="inputEmail3">Số tiền (tối thiểu 20.000đ)</label>
                    </div>
                    <div style="width: 70%">
                        <div class="input-group">
                            <Input id="charge-amount" @type="number" class="form-control" @value={{this.amount}} />
                            <div class="input-group-append">
                                <span class="input-group-text"><u>đ</u></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck1" checked>
                            <label class="form-check-label text-light" for="gridCheck1">
                                Tôi đã đọc, hiểu và đồng ý <a
                                    href="https://docs.google.com/document/d/1wxPE-qjSr71t0dP7LNdJSf_rL_L_ZzUgb7DKVjEFXiw/edit?usp=sharing"
                                    target="_blank" data-blast="color">cam kết tuân thủ điều khoản, điều
                                    kiện</a> của quy định nạp
                                tiền từ ví điện tử của Ngân hàng số KTBank.
                            </label>
                        </div>
                    </div>
                </div>
                {{#if (equal this.typePayment 'Paypal')}}
                <a role="button" class="btn text-white theme-button mt-4 mb-4" data-blast="bgColor" {{on 'click'
                    this.charge}}>Xác nhận</a>
                {{else}}
                <a role="button" id="checkout-button" class="btn text-white theme-button mt-4 mb-4"
                    data-blast="bgColor">Xác nhận</a>
                {{/if}}
                <LinkTo @route="home" class="btn text-white theme-button mt-4 mb-4" data-blast="bgColor">
                    Quay lại</LinkTo>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var checkoutButton = document.getElementById('checkout-button');
        var key;

        checkoutButton.addEventListener('click', async function () {
            if ($('#charge-amount').val() < 20000) {
                var x = document.getElementById("snackbar");
                x.className = "show";
                setTimeout(() => { x.className = x.className.replace("show", ""); }, 3000);
                x.innerHTML = "Thông tin không chính xác. Vui lòng kiểm tra và nhập lại.";
            } else {
                var settings = {
                    "url": "http://localhost:5000/api/stripe",
                    "method": "GET",
                    "timeout": 0,
                };
                await $.ajax(settings).done(function (response) {
                    key = response.key;
                });
                var stripe = Stripe(key);
                // Create a new Checkout Session using the server-side endpoint you
                // created in step 3.
                fetch('http://localhost:5000/api/create-checkout-session', {
                    method: 'POST',
                    mode: 'cors',
                    redirect: 'follow',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        bankCardNumber: localStorage.getItem('userBankAccountNumber'),
                        amount: $('#charge-amount').val()
                    })
                }).then(function (response) {
                    return response.json();
                }).then(function (session) {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                }).then(function (result) {
                    if (result.error) {
                        alert(result.error.message);
                    }
                    window.location.href = '/page/success-stripe';
                }).catch(function (error) {
                    console.error('Error:', error);
                });
            }
        });
    </script>
</Nav::SlideBar>
<div id="snackbar">Welcome to KTBank!</div>
<script src="https://js.stripe.com/v3/"></script>
<ChangeColor />