<Admin::SlideBar>
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Người dùng</h1>
        <p class="mb-4">Quản lý người dùng...</p>
        <div class="d-flex justify-content-end">
            <a role="button" class="btn btn-primary text-light mb-2" {{on "click" this.addUser}}>Thêm</a>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Danh sách người dùng</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" data-test="dkm">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Tên</th>
                                <th>Điện thoại</th>
                                <th>Giới tính</th>
                                <th>Địa chỉ</th>
                                <th>Admin</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each @model as |user|}}
                            <tr>
                                <td>{{user.email}}</td>
                                <td>{{user.lastName}} {{user.firstName}}</td>
                                <td>{{user.phone}}</td>
                                <td>{{user.gender}}</td>
                                <td>{{user.address}}</td>
                                <td>{{user.isAdmin}}</td>
                                <td>
                                    <LinkTo @route="admin.users.user" @model={{user.id}} class="text-gray-800"><i
                                            class="fas fa-pencil-alt"></i></LinkTo>
                                    <a class="text-gray-800" {{on "click" (fn this.delete user)}}><i
                                            class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</Admin::SlideBar>

<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>